$baseFont: var(--font-roboto, "Roboto", Arial, sans-serif);
$titleFont: var(--font-libre, "Libre Bodoni", Georgia, serif);
$decorativeFont: var(--font-sacra, "Sacramento", cursive);

$white: #f0f0f0;
$green: #1D6167;
$lightgreen: #207475;
$darkgreen: #155253;
$graygreen: #0D2F30;
$blackgreen: #051111;
$lightorange: #F9B39D;
$orange: #D46039;
$black: #070808;

$titleFontSize: 36px;
$logoTitleFontSize: 30px;
$subTitleFontSize: 24px;
$baseFontSize: 20px;
$mobileFontSize: 16px;
$descFontSize: 14px;
$logoMobileFontSize: 12px;

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
