@use "variables";
@use "sass:color";

.hero {
  position: relative;

  .hero_background {
    position: relative;
    width: 100vw;
    height: 580px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center top;
    }
  }

  .hero_content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    .hero_image {
      position: relative;
      width: 100%;
      height: 480px;
      overflow: hidden;
      top: 0;
      left: -30%;
      z-index: 1;

      img {
        object-fit: contain;
        object-position: center;
      }
    }

    .hero_text {
      background-color: variables.$white;
      color: variables.$black;
      position: relative;
      left: 55%;
      height: 400px;
      width: 340px;
      padding: 5%;
      display: flex;
      top: -450px;
      flex-direction: column;
      justify-content: center;
      font-family: variables.$titleFont;
      padding-left: 20%;

      h2 {
        font-size: variables.$logoTitleFontSize;
        margin-bottom: 1rem;
        font-weight:400;
      }

      hr {
        width: 85%;
        height: 2px;
        border: none;
        background: linear-gradient(
          90deg,
          variables.$lightorange,
          variables.$orange
        );
        margin: 1rem 0;
      }

      p {
        font-size: variables.$subTitleFontSize;
        margin-top: 1rem;
        word-spacing: 10px;
      }
    }
  }

  // Shadow affect at the top
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(7, 8, 8, 1) 2%,
      rgba(255, 255, 255, 0) 10%
    );
    z-index: 1;
  }
}

.intro {
  position: relative;
  height: 100%;

  .intro_background {
    position: relative;
    width: 100vw;
    height: 920px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center top;
    }
  }

  .intro_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 82%;
    width: 740px;
    background-color: variables.$white;
    color: variables.$black;
    padding: 0rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //margin: 5% 0;
    overflow: visible;

    hr {
      width: 80%;
      height: 2px;
      border: none;
      background: linear-gradient(
        90deg,
        variables.$lightorange,
        variables.$orange
      );
      margin: 0.5rem auto;
    }

    & > h2 {
      width: 100%;
      padding: 0; // Remove or reduce padding so text fills the width
      margin: 1rem 0;
      background-color: variables.$orange;
      font-family: variables.$titleFont;
      color: variables.$white;
      text-align: center; // Align text to the left
      font-size: 2.5rem; // Adjust as needed for expansion
      word-spacing: 1rem;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.28);
      letter-spacing: 0.5rem; // Adjust letter spacing for better readability
      height: 4rem;
      line-height: 4.5rem; // Ensure text is vertically centered
    }

    & > p {
      text-transform: uppercase;
      font-family: variables.$titleFont;
      font-weight: 400;
      line-height: 2rem;
      padding: 0 5rem;
      transform: scaleX(1.1);
    }

    .desc {
      display: flex;
      gap: 2rem;
      padding: 0 2.5rem;

      .desc_image{
        display: none;
      }

      div {
        flex: 1; // Each child div takes equal width
      }

      p {
        font-size: variables.$mobileFontSize;
        margin: 1rem 0;
        text-align: center;
      }
    }

    .signature {
      position: relative;
      width: 100%;
      height: 100px;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 2rem;

      img {
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.career {
  &>h2{
    background-image: url('/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2rem 0;
    font-family: variables.$titleFont;
    font-size: 3rem;
    word-spacing: 1rem;
    letter-spacing: 0.5rem; // Adjust letter spacing for better readability
    margin-top: 2%;
    line-height: 2rem;
  }

  .career_content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 1rem 10rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: variables.$black;

    &::before {
      content: "";
      position: absolute;
      top: 5%;
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 60%;
      padding-top: 50%;
      background: variables.$green; // center line
      transform: translateX(-50%);
      z-index: 1;
    }

    .timeline_item {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 80px;

      .timeline_icon {
        position: absolute;
        top: 0; // aligns to the first item in that block
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: variables.$white;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .timeline_line {
          position: absolute;
          height: 2px;
          width: 180%;
          background-color: variables.$green;
        }
      }

      .timeline_content {
        width: 45%;
        background: transparent;
        padding-top: 3.5rem;
        max-height: 20rem;
        min-height: 20rem;

        h3 {
          font-size: variables.$titleFontSize;
          margin-bottom: 0.5rem;
          font-family: variables.$titleFont;
          font-weight: 400;
        }

        p {
          font-size: variables.$baseFontSize;
          line-height: 1.5;
        }
      }

      &.left {
        justify-content: flex-start; // left side
        .timeline_content {
          text-align: left;
          margin-right: auto;
          padding-right: 3rem; // space from center
        }

        .timeline_icon{
          .timeline_line {
            right: 150px;
          }
        }
      }

      &.right {
        justify-content: flex-end; // right side
        .timeline_content {
          text-align: right;
          margin-left: auto;
          padding-left: 3rem; // space from center
        }

        .timeline_icon{
          .timeline_line {
            left: 150px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:30em) {
  .hero{
    height: 92vh;

    .hero_background{
      display: none;
    } 

    .hero_content{
      position: relative;
      //top: 0;
      
      .hero_image{
        height: 92vh; // Adjusted height for smaller screens
        left: 0; // Center the image
        top: -50px; // Adjusted position for smaller screens

        img{
          object-fit: cover;
        }
      }

      .hero_text{
        position: absolute;
        top: auto;
        bottom: 14vh; // Adjusted for smaller screens
        width: 62%; // Full width on smaller screens
        left: auto;
        right: 0;
        height: auto; // Allow height to adjust based on content
        z-index: 2;
        background-color: rgba(variables.$white, 0.8);
        padding: 3rem 1rem;
        
        p{
          word-spacing: 6px;
        }

        hr{
          margin:0;
        }
      }
    }
  }

  .intro{
    .intro_background{
      display: none;
    }

    .intro_content{
      position: relative;
      width: 100vw;
      padding: 0;
      height: auto;
      top: auto;
      left: auto;
      overflow: hidden;
      transform: none;

      & > h2 {
        font-size: variables.$titleFontSize;
        word-spacing: 0; 
        letter-spacing: 0.2rem; 
        margin-top: 0;
      }

      & > p {
        padding: 0 2rem; 
        font-size: variables.$mobileFontSize; 
        line-height: 1.5rem;
      }

      .desc{
        flex-direction: column; 
        align-items: center; 
        position: relative;
        gap: 0;

        .desc_image{
          display: block; 
          position: relative;
          width: 100vw;
          height: 140px;
          overflow: hidden;
          margin: 0.5rem 0; 
          flex: auto;

          img {
            object-fit: cover;
            object-position: center;
          }
        }
      }

      &> hr:not(:first-of-type){
        display: none;
      }
    }
  }

  .career{
    &>h2{
      font-size: variables.$titleFontSize;
      word-spacing: 0rem; 
      letter-spacing: 0.2rem; 
      margin-top: 0;
    }

    .career_content{
      padding: 0 0 0;

      &::before{
        display: none;
      }

      .timeline_item{
        overflow: hidden;
        flex-direction: row-reverse;
        margin-bottom: 0%;
        transition: background-color 0.3s ease, transform 0.3s ease;
        align-items: stretch;
        min-height: 360px;

        &.active {
          background-color: variables.$black; // highlight color
          color: variables.$white;

          .timeline_icon{
            background-color: variables.$black;

            .timeline_line{
              background-color: variables.$orange;
            }
          }
        }

        .timeline_content{
          padding: 0;
          width: 100%;
          height: 100%;
          max-height: fit-content;
          min-height: auto;

          h3{
            font-size: variables.$logoTitleFontSize;
          }

          p{
            font-size: variables.$mobileFontSize;
          }
        }

        .timeline_icon{
          position: relative;
          top:auto;
          left: auto;
          transform: none;
          transition: background-color 0.3s ease, transform 0.3s ease;
          height: auto;          
          padding-left: 1rem;

          img{
            object-position: top;
            padding-top: 20%;
            position: relative; 
          }

          .timeline_line {
            position: absolute;
            top: 130px;
            left: 56%;
            width: 2px;
            height: 60%;
            background: variables.$green; // center line
            transition: background-color 0.3s ease, transform 0.3s ease;
          }
        }

        &.left {

          .timeline_content {
            text-align: left;
            padding: 2rem 1rem 1rem 1rem;
          }
        }

        &.right {
          justify-content: flex-start;

          .timeline_content{
            text-align: left;
            padding: 2rem 1rem 1rem 1rem;
          }

          .timeline_icon{
            .timeline_line {
              left: auto;
            }
          }
        }
      }
    }
  }
}