@use 'variables';
@use 'sass:color';

.hero{
  position: relative;

  .hero_background{
    position: relative;
    width: 100%;
    height: 580px;
    overflow: hidden;

    img{
      object-fit: cover;
    }
  }

  h1{
    pointer-events: none;
    letter-spacing: 12px; 
    font-family: variables.$titleFont;
    font-size: 160px;
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(6px -3px 5px #5e5e5e);
  }

    // Shadow affect at the top 
  &::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(7,8,8,1) 2%, rgba(255,255,255,0) 30%);
    z-index: 1;
  }
}

.list{
    color: variables.$white;
    background-color: variables.$blackgreen;
    width: 100%;
    display: flex;
    justify-content: center;

  .collection{
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(2, 2fr); // 3 equally spaced columns
    gap: 4rem;
    padding-bottom: 3%;
    max-width: 1020px;
  }
}

.article{
  padding: 50px 20%; 
  color: variables.$white;
  background-color: variables.$blackgreen;

  .article_image{
    position: relative;
    width: 100%;
    height: 520px;
    overflow: hidden;
    margin: 1rem 0 2rem 0;

    img{
      object-fit: cover;
    } 
  }
}

.intro{
  background-color: variables.$blackgreen;
  
  .intro_content{
    display: flex;
    flex-direction: column;

    .intro_background{
      position: relative;
      
      .intro_image{
        position: relative;
        width: 100%;
        height: 480px;
        overflow: hidden;
        margin-bottom: 2rem;

        img{
          object-fit: cover;
        }
      }

      .intro_card{
        margin-bottom: 2rem;
        background-color: variables.$white;
        height: 520px;
        width: 340px;
        top: -18px;
        right: 42px;
        position: absolute;
        padding: 3%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;

        h3{
          font-family: variables.$baseFont;
          font-size: variables.$baseFontSize;
          font-weight: 300;
          color: variables.$black;
          margin: 24px 0;
        }
        
        a{
          display: flex;
          align-items: center;
        }
      }
    }

    .intro_banner{
      display: flex;
      background-color: variables.$green;
      color: variables.$white;
      font-size: variables.$logoTitleFontSize;
      font-family: variables.$titleFont;
      align-items: center;
      padding: 2% 0;
      margin: 8% 0;
      justify-content: center;
      transition: all 0.2s ease-in;

      &:hover{
        background-color: color.adjust(variables.$green, $lightness: -5%);
        
        .intro_arrow{
          transform: translateX(10px);
        }
      }

      .intro_arrow{
        position: relative;
        width: 60px;
        min-width: 60px;
        height: 18px;
        margin-left: 1rem;
        transition: all 0.2s ease-in-out;

        img{
          object-fit: cover;
        }
      } 
    }

    .separator{
      display: block;
      height: 2px;
      background-color: variables.$orange;
      width: 96%;
      margin: 1rem 0;
      margin-left: 2%;
    }
  }
}

@media screen and (max-width:30em) {

  .hero{
    h1{
      font-size: 100px; // Adjusted for smaller screens
      bottom: -24px; // Adjusted for smaller screens
    }
  }

  .list{
    .collection{
      grid-template-columns: repeat(1, 1fr); // single column layout
      margin: 10% 0;
    }
  }

  .article{
    padding: 20px 5%; // Reduced padding for smaller screens
    .article_image{
      height: 320px; // Adjusted height for smaller screens
      margin: 0.5rem 0; // Adjusted margin for smaller screens

      img{
        object-fit: contain;
      }
    }
  }

  .intro{
    .intro_content{
      .intro_background{
        .intro_card{
          opacity: 0.95;
        }
      }

      .intro_banner{
        font-size: variables.$subTitleFontSize; // Adjusted font size for smaller screens
      }
    }
  }
}