@use 'variables';
@use 'sass:color';

.defaultButton {
  button {
    font-family: variables.$titleFont;
    font-size: variables.$subTitleFontSize;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 3px solid variables.$orange;
    border-radius: 1px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: variables.$white;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: variables.$orange;
    cursor: pointer;

    &:before {
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      z-index: -1;
      background-color: variables.$white;
    }

    &:hover, &:focus, &:active {
      color: variables.$orange;
    }

    &:hover:before, &:focus:before, &:active:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}

.bannerButton {
    display: flex;
    background-color: variables.$green;
    color: variables.$white;
    font-size: variables.$logoTitleFontSize;
    font-family: variables.$titleFont;
    background-image: url('/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 1.5% 0;
    justify-content: center;

  .btn {
    margin-left:5%;
  }
}

@media screen and (max-width:30em) {

  .bannerButton {
    flex-direction: column;
    padding: 4% 0;
    font-size: variables.$subTitleFontSize;
    background-image: url('/banner-mobile.png');

    .btn {
      margin: 1% 0;
    }

    button{
      padding: 5px 30px;
    }
  }
}
