@use 'variables';
@use 'sass:color';

.cardSlider {
  max-width: 640px;
  min-width: 500px;
  height: auto; 
  margin: 0 auto; 
  position: relative;
  z-index: 2;
  
  :global(.slick-slide) {
    display: flex !important; // Override react-slick's inline-block style
    align-items: center; 
    justify-content: space-between; 
  }

  :global(.slick-dots) {
    bottom: -50px;
    li{
      button::before{
        opacity: 0.5;
        font-size: 12px;
      }
    }
  }

  :global(.slick-dots li button:before){
    color: variables.$black; // Change the color of the dots
  }

  :global(li.slick-active) {
    button:before {
      opacity: 1;
  }
}
  .card {
    display: flex !important;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 460px;
    background-color: variables.$white; 
    border-radius: 1px; 
    overflow: hidden; 
    color: variables.$black;

    .cardImage {
      flex: 0 0 50%;
      height: 100%; // Full height of the card
      position: relative; // Required for Next.js Image with layout="fill"

      img {
        object-fit: cover; // Ensure the image covers its container
        width: 100%; // Full width of the image container
        height: 100%; // Full height of the image container
        position: relative !important;
      }
    }

    .cardContent {
      flex: 0 0 50%;
      padding: 36px;
      text-align: left; // Align text to the left
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      h2 {
        font-size: variables.$titleFontSize;
        font-family: variables.$titleFont;
        margin-bottom: 10px;
      }

      p {
        font-size: variables.$mobileFontSize;
        margin-bottom: 20px;
      }

      button {
        padding: 10px 20px;
        background-color: variables.$black;
        color: variables.$white;
        font-family: variables.$titleFont;
        font-size: variables.$baseFontSize;
        border: none;
        cursor: pointer;
        width:300px;
        height:50px;
        transition: background-color 0.3s ease;
        position:absolute;
        margin-top: 10px;
        right: -20%;
        bottom: 12%;
        z-index: 5;

        &:hover, &:active {
          background-color: color.adjust(variables.$black, $lightness: 10%);
        }
      }
    }
  }
}

  // 480px mobile
@media screen and (max-width:30em) {
  .cardSlider {
    width: 100vw;
    height: 92vh;
    max-width: none;
    min-width: auto;
    
    :global(.slick-dots) {
      bottom: 50px;
      z-index: 20;
      li{
        button::before{
          font-size: 8px;
        }
      }
    }

    .card{
      height: 92vh;
      display: inline-block !important;

      .cardContent{
        z-index: 20;
        background-color: rgba(variables.$white, 0.8);
        width: 60vw;
        height: auto;
        position: absolute;
        bottom: 10vh;
        margin-left: 40vw;
        padding: 1%;
        padding-bottom: 2.5%;

        h1 {
          font-size: variables.$subTitleFontSize;
          margin-bottom: 2px;
        }

        p {
          font-size: variables.$baseFontSize;
          margin-bottom: 2px;
        }

        button {
          padding: 5px 10px;
          font-size: variables.$subTitleFontSize;
          width:110%;
          height:50px;
          margin-top: 5px;
          bottom: 5px;
          right: 0px;
          background-color: variables.$orange;
        }
      }

      .cardImage {
        flex: auto; 
        height: 100vh; // Full height of the card
        width: 100vw;
        position: relative; // Required for Next.js Image with layout="fill"
      }
    }
  }
}