@use 'variables';
@use 'sass:color';

.cardSlider {
  width: 620px;
  height: auto; 
  margin: 0 auto; 
  position: relative;
  z-index: 2;
  
  :global(.slick-slide) {
    display: flex !important; // Override react-slick's inline-block style
    align-items: center; 
    justify-content: space-between; 
  }

  :global(.slick-dots) {
    bottom: -50px;
    li{
      button::before{
        opacity: 0.5;
        font-size: 12px;
      }
    }
  }

  :global(li.slick-active) {
    button:before {
      opacity: 1;
  }
}
  .card {
    display: flex !important;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 320px; 
    background-color: variables.$white; 
    border-radius: 1px; 
    overflow: hidden; 
    color: variables.$black;

    .cardImage {
      flex: 0 0 40%; // Image takes 30% of the card's width
      height: 100%; // Full height of the card
      position: relative; // Required for Next.js Image with layout="fill"

      img {
        object-fit: cover; // Ensure the image covers its container
        width: 100%; // Full width of the image container
        height: 100%; // Full height of the image container
        position: relative !important;
      }
    }

    .cardContent {
      flex: 0 0 60%; // Content takes 70% of the card's width
      padding: 20px; // Add padding around the content
      text-align: left; // Align text to the left
      position: relative;

      h1 {
        font-size: variables.$titleFontSize;
        font-family: variables.$titleFont;
        margin-bottom: 10px;
      }

      p {
        font-size: variables.$mobileFontSize;
        margin-bottom: 20px;
      }

      button {
        padding: 10px 20px;
        background-color: variables.$black;
        color: variables.$white;
        font-family: variables.$titleFont;
        font-size: variables.$baseFontSize;
        border: none;
        cursor: pointer;
        width:300px;
        height:50px;
        transition: background-color 0.3s ease;
        position:absolute;
        margin-top: 10px;
        bottom: -25px;
        right: -20px;
        z-index: 5;

        &:hover {
          background-color: color.adjust(variables.$black, $lightness: 10%);
        }
      }
    }
  }
}

  // 480px mobile
@media screen and (max-width:30em) {
  .cardSlider {
    width: 280px;
    
    :global(.slick-dots) {
      bottom: 5px;
      li{
        button::before{
          font-size: 8px;
        }
      }
    }

    .card{
      height: 200px;

      .cardContent{
        margin-top: -50px;
        h1 {
          font-size: variables.$descFontSize;
          margin-bottom: 2px;
        }

        p {
          font-size: 10px;
          margin-bottom: 2px;
        }

        button {
          padding: 5px 10px;
          font-size: 10px;
          width:150px;
          height:25px;
          margin-top: 5px;
          bottom: -15px;
          right: -10px;
        }
      }
    }
  }
}