@use 'variables';
@use 'sass:color';

.contact{
  display: flex;
  background-color: variables.$darkgreen;
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  position: relative;

  &::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(7,8,8,1) 2%, rgba(255,255,255,0) 20%);
    z-index: -1;
    pointer-events: none; 
  }

  .image{
    position: relative;
    width: 30rem;
    height: 30rem; // full screen width or container width
    margin: 5%;
    aspect-ratio: 1 / 1; // Ensures a square container
    
    img{
      object-fit: cover;
    }
  }

  .intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2rem;
    max-width: 58ch;

    h2{
      font-size: variables.$logoTitleFontSize;
      font-family: variables.$titleFont;
      font-weight: 400;
      color: variables.$white;
      margin-bottom: 1rem;
    }

    .contact_title{
      margin-top: 1rem;
      width: 100%;
      height: 120px;
      position: relative;
      margin-bottom: 1rem;

      img{
        object-fit: contain;
        object-position: left;
        user-select: none;
        pointer-events: none; 
      }
    }

    p{
      font-family: variables.$baseFont;
      font-size: variables.$baseFontSize;
    };

    .social{
      display: flex;
      align-items: center;
      width: 100%; 
      margin-top: 1rem;

      ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
      }

      a{
        color: variables.$white;
        font-size: variables.$logoTitleFontSize;
      }
    }
  }
}

@media screen and (max-width:30em) {
  .contact{
    flex-direction: column;
    justify-content: center;
    

    .image{
      width: 100%;
      height: 60vh; 
      margin: 0;
      background-image: url("/images/backgrounds/about-mobile-background.jpg");
      background-size: cover;
      background-position: top;

      img{
        display: none;
      }
    }

    .intro{
      padding: 2rem 3rem;
    }

  }
}
