@use 'variables';
@use 'sass:color';

.menuBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: variables.$black;
  color: variables.$white;

  .titleLogo{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: variables.$white;
    margin-top:12px;
    margin-left: 20px;

    img{
      width: auto;
      height: auto;
      max-height: 120px;
    }
  }

  ul{
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    
    li{
      a{
        color: variables.$white;
        font-size: variables.$mobileFontSize;
        transition: all 0.3s ease-in-out;
        letter-spacing: 2px;

        &:hover{
          color: color.adjust(variables.$white, $lightness: -20%);
          transform: scale(1.1);
        }
      }
    }
  }
}

.hamburgerMenu{
  display:none;
}


@media screen and (max-width:30em) {
  .menuBar{
    display: none;
  }

  .hamburgerMenu{
    width: 100%;
    height: auto;
    background-color: variables.$black;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;

    .titleLogo{
      margin-top: 2px;
      margin-left: 5px;
    }
  }
}
