@use "variables";
@use "sass:color";

.hero {
  position: relative;

  .hero_background {
    position: relative;
    width: 100%;
    height: 580px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  h1 {
    pointer-events: none;
    letter-spacing: 12px;
    font-family: variables.$titleFont;
    font-size: 160px;
    position: absolute;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(6px -3px 5px #5e5e5e);
  }

  // Shadow affect at the top
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(7, 8, 8, 1) 2%,
      rgba(255, 255, 255, 0) 30%
    );
    z-index: 1;
  }
}

.intro {
  background-color: variables.$graygreen;
  font-size: variables.$mobileFontSize;
  padding: 4% 5%;
  text-align: left;

  p {
    margin-bottom: 0.5rem;
  }
}

.service_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columns of equal width
  gap: 0.5rem; // spacing between cards
  max-width: 1200px; // optional container width
  margin: 0 auto;
  padding: 2rem;
  color: variables.$black;
  align-items: stretch;
  overflow: hidden;

  .container {
    height: 540px;
    padding: 2rem;
    min-height: 580px;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .image {
        position: relative;
        margin: 1%;

        img {
          object-fit: contain;
          object-position: center;
        }
      }
      h2 {
        font-family: variables.$titleFont;
        font-size: variables.$subTitleFontSize;
        margin-left: 1rem;
      }
    }

    .desc {
      font-size: variables.$mobileFontSize;
      margin-top: 1rem;  // ensures spacing after title
      flex-grow: 1;      // lets desc expand if tall
      p {
        margin-bottom: 1rem;
      }
    }

    .link {
      display: flex;
      align-items: center;
      font-size: variables.$mobileFontSize;
      font-family: variables.$titleFont;
      color: variables.$black;
      font-weight: 400;
      transition: all 0.2s ease;

      .arrow {
        margin-left: 1rem;
        position: relative;
        width: 40px;
        height: 20px;
        transition: all 0.2s ease;
        img {
          object-fit: contain;
        }
      }

      &:hover {
        color: rgba(variables.$black, 0.6);
        .arrow {
          transform: translateX(5px);
        }
      }
    }

    hr {
      margin-top: auto;
      width: 85%;
      height: 3px;
      border: none;
      background: linear-gradient(
        90deg,
        variables.$lightorange,
        variables.$orange
      );
      margin: 1rem 0;
    }
  }
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.banner {
  height: 740px;
  padding: 3% 0;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/banners/banner-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    .image_container {
      .image {
        position: relative;
        width: 640px;
        height: 640px;

        img {
          object-fit: cover;
          transition: all 0.5s ease;
        }

        &:hover {
          img {
            opacity: 0.6;
            filter: brightness(1.2) saturate(1.2);
          }
        }
      }
    }

    .title_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 500px;
      .title_images {
        .title {
          position: relative;
          width: 340px;
          height: 340px;
          margin-bottom: 1rem;
          img {
            object-fit: contain;
            pointer-events: none;
            user-select: none;
          }
        }
      }

      a {
        display: flex;
        justify-content: center;
        width: 100%;
        button {
          width: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 30em) {
  .hero {
    .hero_background {
      height: 580px;
    }

    h1 {
      font-size: 58px; // Adjusted for smaller screens
      bottom: -19px; // Adjusted for smaller screens
    }
  }

  .service_card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .container {
      padding: 1rem;
      height: fit-content;
      min-height: fit-content;

      hr{
        align-self: center;
        margin-top: 2rem;
      }
    }
  }

  .banner {
    height: 100%;
    .container {
      flex-direction: column;
      height: 100%;
      padding: 2rem 0;
      .image_container {
        .image {
          position: relative;
          width: 420px;
          height: 420px;
        }
      }
    }
    .title_container {
      .title_images {
        .title {
          width: 150px;
          height: 50px;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
