@use 'variables';
@use 'sass:color';

.tile{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1%;
  transition: all 0.3s ease-in-out;

  h3{
    font-size: variables.$mobileFontSize;
    font-family: variables.$baseFont;
    font-weight: 400;
    text-transform: uppercase;
    flex: auto;
    color: variables.$white;
    transition: all 0.3s ease-in-out;
    max-width: 100%; // prevent overflow
    word-wrap: break-word;
  }

  .link{
    color: variables.$white;
    font-family: variables.$titleFont;
    display: flex;
    align-items: center;
    margin: 3% 0 3%;
    transition: all 0.3s ease-in-out;

    .arrow{
      position: relative;
      width: 60px;
      min-width: 60px;
      height: 18px;
      margin-left: 1rem;
      

      img{
        object-fit: cover;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .image{
    position: relative;
    width: 100%; // full screen width or container width
    padding-top: 100%; 
    transition: all 0.3s ease-in-out;
    
    img{
      object-fit: cover;
    }
  }

  &:hover, &:active{
    h3{
      color: color.adjust(variables.$white, $lightness: -30%);
    }

    .link{
      color: color.adjust(variables.$white, $lightness: -30%);
      .arrow img{
        transform: translateX(3px);
      }
    }

    .image{
      opacity: 0.8;
    }
  }
}

@media screen and (max-width:30em) {
  .tile{
    transition: none;
    padding: 0%;
    width: 90vw;

    .link{
      align-items: center;

      h3{
        text-align: center;
      }
    }

    .image{
      width: 100% !important; // full screen width or container width
      padding-top: 100% !important; 
      transition: none;
    }

    &:hover{
      .link{
        .arrow img{
          transform: none;
        }
      }
      .image{
        opacity: 1;
      }
    }
  }
}
